<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         bootstrap="bootstrap/app.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">app/</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA="/>
        <env name="APP_NAME" value="Polr"/>
        <env name="APP_PROTOCOL" value="http://"/>
        <env name="APP_ADDRESS" value="localhost"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="POLR_BASE" value="62"/>
        <env name="POLR_SECRET_BYTES" value="2"/>
        <env name="_PSEUDO_RANDOM_KEY_LENGTH" value="5"/>
        <env name="POLR_SETUP_RAN" value="true"/>
        <env name="SETTING_PUBLIC_INTERFACE" value="true"/>
        <env name="SETTING_REDIRECT_404" value="true"/>
        <env name="SETTING_INDEX_REDIRECT" value="http://redirect.polr.me/"/>
    </php>
</phpunit>

